body {
	margin: auto;
	font-family: Georgia;
    background-image: url("img/background.jpg");
}

header {
	display: flex;
	align-items: center;
	box-shadow: 0rem 0.5rem 1rem #1a74ff;
	box-sizing: content-box;
	width: 100%;
	height: 7rem;
	color: #1a74ff;
	font-family: Impact, Georgia;
	font-size: 1.7rem;
	text-align: center;
	margin: 0;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(26, 116, 255, 0.3);
	box-shadow: 0rem -0.5rem 1rem #1a74ff;
	width: 100%;
	height: 5rem;
	text-align: center;
	margin: auto;
}

nav {
	display: flex;
    justify-content: space-around;
	align-items:center;
	background-color: rgba(26, 116, 255, 0.5);
	top: 7rem;
	width: 100%;
	height: 4rem;
	text-align: center;
	font-size: 1.7rem;
	margin: 0;
}

nav a {
	cursor:pointer;
	color: white;
	font-weight: bold;
	text-decoration:none;
}
footer a {
	cursor:pointer;
	color: black;
	font-weight: bold;
	text-decoration:none;
}
a:active {
	position:relative;
	top: 0.1rem;
	left: 0.1rem;
}
